loc_name=Bel Air, Maryland
lat=39.537201
lon=-76.360497
msl=117
timezone=America/New_York
offset=-04:00
cache_file_max_age=172800
power_saving=true
units_temperature=0
units_pressure=2
units_windspeed=1
units_precipitation=0
units_altitude=0
model_apparent_temperature=0
round=true
single_row=false
tooltip_style=1
forecast_layout=1
forecast_days=5
scrollbox_animate=true
theme_dir=/usr/share/xfce4/weather/icons/simplistic
show_scrollbox=true
scrollbox_lines=1
scrollbox_font=Liberation Sans Bold 12
scrollbox_color=rgba(0,0,0,0)
scrollbox_use_color=false
label0=3

