show_frame=false
fg_set=false
bg_set=false
timezone=
width_set=false
height_set=false
lines_vertically=true
rotation=0
data0=%H:%M\ 
font0=JetBrains Mono weight=637 10
tooltip=%d %b %Y
hib_timing=false

